.course{
    text-align: center;
    margin: 15px ;
    /* border: 1px solid rgb(128, 126, 126); */
    border-radius: 10px;
    padding: 15px 0px;
    
}

.course h3, h4, p{
    margin: 15px 0px;
}

.course-img{
    margin-top: 15px;
}

.course-img img{
    width: 150px;
    /* border-radius: 50%; */
}

.course:hover{
    box-shadow: 2px 2px 3px 1px #2e2b2b;
}

/* .course button{
    margin-top: 20px;
    padding: 7px 20px;
    background-color: #232946;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
} */