.HomeBodyContent{
    height: 92vh;
    /* background: url('https://image.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-concrete_1258-48233.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    
}

.Slider-Image{
    width: 100% !important;
    height: 92vh !important;
}


.HomeBodyContent Button{
    margin: 10px;
}

.caption{
    transform: translate(0%, -220%);
}